<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>T</key>
	<dict>
	    <key>z</key>
	    <integer>-96</integer>
	    <key>y</key>
	    <integer>-96</integer>
	    <key>x</key>
	    <integer>-96</integer>
	    <key>w</key>
	    <integer>-96</integer>
	    <key>v</key>
	    <integer>-96</integer>
	    <key>u</key>
	    <integer>-96</integer>
	    <key>t</key>
	    <integer>-72</integer>
	    <key>s</key>
	    <integer>-96</integer>
	    <key>r</key>
	    <integer>-72</integer>
	    <key>p</key>
	    <integer>-72</integer>
	    <key>o</key>
	    <integer>-96</integer>
	    <key>n</key>
	    <integer>-72</integer>
	    <key>m</key>
	    <integer>-72</integer>
	    <key>j</key>
	    <integer>-24</integer>
	    <key>i</key>
	    <integer>-24</integer>
	    <key>g</key>
	    <integer>-96</integer>
	</dict>
	<key>a</key>
	<dict>
	    <key>v</key>
	    <integer>-26</integer>
	</dict>
	<key>u</key>
	<dict>
	    <key>r</key>
	    <integer>-12</integer>
	</dict>
    </dict>
</plist>
